catboost>=1.2.4
feature_engine>=1.5.0
imbalanced-learn>=0.14.0
ipython>=8.15.0
Jinja2>=3.1.6
kvbiii_plots>=0.1.0
lightgbm>=4.6.0
matplotlib>=3.10.9
optuna>=4.5.0
pydantic-settings>=2.10.1
pytest>=9.1.1
shap>=0.48.0
xgboost>=1.7.6