catboost>=1.2.10
feature_engine>=1.9.4
imbalanced-learn>=0.14.2
ipython>=9.16.0
Jinja2>=3.1.6
kvbiii_plots>=2.0.0
lightgbm>=4.7.0
matplotlib>=3.11.1
optuna>=4.9.0
pydantic-settings>=2.14.2
pytest>=9.1.1
shap>=0.51.0
xgboost>=3.2.0